# Ficheros de Datos y Datasets
data/*
!data/splits.csv
dataset_procesado/
dataset_procesado_sin_da/
*.parquet

# Entornos Virtuales y Caches
venv/
.venv/
.env
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/

# Herramientas y SO
.DS_Store
Thumbs.db
.vscode/
.streamlit/

